<h2>Scoket</h2>
<form id="form">
    <label for="">Product:</label><input type="text" name="name" id="name">
    <label for="">Price:</label><input type="number" name="price" id="price">
    <input type="submit" value="SEND">
</form>

<p id="products"></p>

<script src="/socket.io/socket.io.js"></script>
<script src="index.js"></script>